h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-indent: 30px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
}


.title {
    color: black;
}


.links {
    color: black
}

h3, h4, li {
    text-indent: 50px;
}

body {
    margin: 3rem auto;
    max-width: 700px;
}